# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VSCode
.vscode/

# Ignore files named web (exectuable), but not the web directory
*web
!*web/

# Ignore files named fetch (exectuable), but not the fetch directory
*fetch
!*fetch/

# Ignore bazel output directories
bazel-*